.name{
    padding: 50px;
   width: 75%;
 background-color: aquamarine;
   
}
.customer{
    background-color: white;
    bottom: 100%;
}
.detailHeading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(161, 93, 93);
}