.signUp {
  position: absolute;
  color:rgb(59, 50, 59);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  

  border-radius: 8px;
 
}
.signupButton{
 margin-left: 25%;
  width: 50%;
}

.signUp{
  border: 1px solid black;
  padding-top: 0px;
 padding-left: 70px;
 padding-right: 70px;
   background-color: white;
}
.ip{
  padding: 5px;
  padding-left: 10px;
 width: 100%;
 
}